/* Do see box model on mdn mozilla and w3schools for better understanding. */

/*----------------------------------------------------------------------------*/
/* Basic Setup */
/*----------------------------------------------------------------------------*/

*{  /* Default CSS layout */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ /* Default HTML layout */
    background-color: #fff;  /* White */
    color: #555;  /* Text color */
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* The text-rendering CSS property provides information to the rendering engine about what to optimize for when rendering text. */
}

/*----------------------------------------------------------------------------*/
/* Reusable Components */
/*----------------------------------------------------------------------------*/

.row{
    max-width: 1140px; /* If the content is larger than the maximum width, it will automatically change the height of the element. */
    margin: 0 auto 0 auto;  /* Top Right Bottom Left*/
   /* margin: 0 auto;  /*Top/Bottom and Right/Left*/  */ /* We can use this instead of line 19 */
}

/*-----------------------------------------------------------------------------*/
/* Headings */
/*-----------------------------------------------------------------------------*/

h1{
    margin: 0; /* Used because h1 element has some margin due to which it cannot be written at the top of website. Also, background image couldn't be seen because of this.*/
    margin-bottom: 20px;
    color: #fff; /* Text color. */
    font-size: 240%; /* In html on line 7, font-size is 20px. So, 240% menas 48px. It depends upon html section on line 7. If we change html font-size to 18px, it will be 36px here. */
    font-weight: 300; /* To decrease the boldness of h1 text. */
    text-transform: uppercase;
    letter-spacing: 1px; /* Some space within letters. */
    word-spacing: 4px; /* Some space within words. */
}

/*----------------------------------------------------------------------------*/
/* Buttons */
/*----------------------------------------------------------------------------*/

.btn:link, .btn:visited{ /* To prevent any changes on buttons after visiting the website like when we click on the button, it changes to purple which means we have visited it. We need to  prevent that by using link and visited. */
    display: inline-block; 
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* To remove underline on button. */
    border-radius: 200px; /* To change button from rectangle to sphere. */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* The background color, border and text color will not change instantaneously,but over a period of 0.2 seconds. */
}

.btn-full:link, .btn-full:visited{
    background-color: #e67e22; /* Color chosen from flatuicolors.com */
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover, .btn:active{
  background-color: #cf6d17; /* Set more darker than #e67e22 to show hover/ active. Taken from oto255.com  */  
}

.btn-full:active, .btn-ghost:hover{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff; /* When hover or active, text color will change to #fff from #e67e22. */
}

/*-----------------------------------------------------------------------------*/
/* Header */
/*-----------------------------------------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) , url(img_css/junk_food.cms); /* Line gradient is used to color the image and adjust the visibility and url is used to set the image in the background. */
    background-size: cover; /* To see the whole image. Previously, zoomed out image can be seen before applying this. Now, whole image can be seen clearly. */
    background-position: center; /* Image to come in the center. */
    height: 100vh; /* vh means viewport, like, how much image you will see in your website. 100vh means 100% viewport. */
} 

.hero-text-box{
    position: absolute;
    width: 1140px; /* Equal to max-width */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) /* this does is to translate the element half of its width and of its height, up and to the left.So now it is centered */
}

.logo {
    height: 150px;
    width: auto; /* Default value. The browser calculates the width */
    float: left; /* The float CSS property places an element on the left or right side of its container, allowing text and inline elements to wrap around it. The element is removed from the normal flow of the page, though still remaining a part of the flow (in contrast to absolute positioning). */
    margin-top: 20px; /* Margin from top. */
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto; 
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none; /* The list-style CSS shorthand property allows you set all the list style properties at once. Here, none isused bu us in order to remove bullet points from navigations. */
    margin-top: 55px;
}

.main-nav li { /* By doing this, we are adjusting the properties of all li elements. */
    display: inline-block; /* To make 4 different links in the single line in form of blocks.  */
    margin-left: 40px; /* Each of those blocks has a left side margin of 40px. */
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0; /* To create the distance between line and text when hover over it. */
    color: #fff;
    text-decoration: none; /* To get rid of the underline. */
    text-transform: uppercase;
    font-size: 90%; /* 90% means 18px. */
    border-bottom: 2px solid transparent; /* Means no effect on the border of the links or background of the website. Untill we hover it. */
   /* -webkit-transition: border-bottom 0.2s; */
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}